body{
    background-color: #777777;
    max-width: 900px;
    margin: auto;
}

.post_area{
    background: #fff7e6;            
    padding: 10px 10px 10px;
    border: 2px solid #000;
    border-radius: 10px;
    margin: 0;
    margin-bottom: 10px;
    
}

.photo{
    border-radius: 50px;
    margin:0;
    margin-bottom: 15px;
}

#title, .sub_title{
    font-size: 26px;
    color: #000000;
    margin:0;
}

.sub_title{
    font-size: 12px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.post_text{
    color: #000000;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
    text-align: justify;
}

.post_title{
    color: #000;
    font-size: 22px;
    font-style: italic;
    margin: 0;
    margin-bottom: 10px;
}

.image_post{
    margin-bottom: 10px;
    width: 100%;
}